@import '/styles/variables';

.wrapper {
   box-sizing: border-box;
   position: relative;
   width: 100%;
   height: 100%;
   background-color: yellow;
   padding: 100px 20px 50px;
   overflow: hidden;
   background-image: url(/assets/images/pages/bg-honeycombs.jpg);
   background-size: cover;
   margin-bottom: 85px;
   @media (max-width: 650px) {
      margin-bottom: 85px;
   }
   .block {
      margin: 0 auto;
      max-width: 1000px;
      h2 {
         font-size: 40px;
         text-transform: uppercase;
         margin-bottom: 20px;
         text-align: center;
         margin-bottom: 50px;
         font-family: $font-1-semi-bold;
         color: $color-first;
         text-transform: uppercase;
      }
      & > div {
         display: flex;
         justify-content: space-between;
         align-items: center;
         @media (max-width: 1100px) {
            flex-direction: column;
            gap: 60px;
         }
         .content {
            margin-left: 100px;
            height: 100%;
            @media (max-width: 1100px) {
               margin-left: 0;
               padding: 0 40px;
            }
            @media (max-width: 660px) {
               margin-left: 0;
               padding: 0 10px;
            }
         }
         p {
            line-height: 1.4rem;
            text-indent: 1.4rem;
            text-shadow: 0 0 2px #3d3d3d;
            color: #0000;
         }
      }
   }
}

.swiper {
   width: 300px;
   height: calc(1.43 * 300px);
   margin: 0 !important;
}

.slide {
   position: relative;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 6px;
   font-size: 22px;
   font-weight: bold;
   color: #fff;
   button {
      position: absolute;
      top: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 35px;
      height: 35px;
      background-color: $color-second;
      border-radius: 50%;
      cursor: pointer;
      border: 2px solid #fff;
      background-image: url(/assets/images/svg/search-solid.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 60%;
      transition: background 0.3s;
      box-shadow: 0px 0px 8px #686767;
      &:hover {
         background-color: $color-first;
      }
   }
}
