.wrapper {
   --block-padding: 86px 24px;
   --heading-size: 64px;
   --bg-dark: #313131;
   --bg-grey: #f0f0f075;
   box-sizing: border-box;
   width: 100%;
   h3 {
      font-size: var(--heading-size);
      text-transform: uppercase;
   }
   @media (max-width: 1440px) {
      --heading-size: 48px;
   }
   @media (max-width: 860px) {
      --heading-size: 32px;
      --block-padding: 48px 12px;
   }
}
