.wrapper {
   display: flex;
   gap: 15px;
   align-items: center;
   a {
      &:hover {
         outline: 2px solid #fff;
         outline-offset: 3px;
      }
   }
   .timer {
      position: relative;
      border-radius: 30px;
      background-image: url(/assets/images/svg/header-clock.svg);
      background-repeat: no-repeat;
      background-position: center;
      &:hover {
         outline: 2px solid #fff;
         outline-offset: 3px;
      }
   }
}
