.button {
   position: relative;
   display: block;
   box-sizing: border-box;
   cursor: pointer;
   width: 32px;
   height: 32px;
   border-radius: 32px;
   border: var(--border-button);
   background-color: transparent;
   box-shadow: var(--shadow-out);
   font-family: var(--font-inter-bold);
   font-size: 10px;
   &[data-open='true'] {
      box-shadow: var(--shadow-in), var(--shadow-out);
   }
}
a.button {
   background-color: #fff;
   background-image: var(--icon);
   background-repeat: no-repeat;
   background-position: center;
}
