@import '/styles/variables';

.wrapper {
   position: relative;
   width: 100%;
   height: calc(-2px + 1792 * (100vw / 3840));
   .background {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      & > div {
         position: absolute;
         left: 50%;
         top: 50%;
         transform: translate(-50%, -50%);
         background-repeat: no-repeat;
         background-position: center;
         background-size: cover;
         width: 100%;
         height: 100%;
         transition: opacity 1.5s;
      }
   }
   .puzzle {
      position: absolute;
      left: 50%;
      top: 100px;
      transform: translateX(-50%);
      width: 800px;
      height: 800px;
      .part {
         filter: drop-shadow(0px 0px 10px rgba(197, 197, 197, 0.388));
         & > div {
            position: absolute;
            width: 400px;
            height: 400px;
            padding: 20px;
            display: flex;
            // align-items: center;
            & > h2 {
               color: $color-third;
               text-transform: uppercase;
               font-size: 24px;
               font-family: $font-1-semi-bold;
               margin: 6px 0 0 8px;
            }
            & > span {
               display: block;
               width: 40px;
               height: 40px;
            }
         }
         & > svg {
            fill: #fff;
            fill: none;
         }
         $ration: 1.23;
         position: absolute;
         &:nth-child(1) {
            width: 400px;
            height: 400px;
            z-index: 1;
            & > div {
               top: 0;
            }
            & > svg {
               fill: #fff;
            }
         }
         &:nth-child(2) {
            left: 307px;
            width: calc(400px * $ration);
            height: calc(400px * $ration);
            & > div {
               top: 0;
               right: 0;
            }
         }
         &:nth-child(3) {
            top: 307px;
            width: calc(400px * $ration);
            height: calc(400px * $ration);
            & > svg {
               transform: rotate(180deg);
            }
            & > div {
               bottom: 0;
            }
         }
         &:nth-child(4) {
            top: 399px;
            left: 399px;
            width: 400px;
            height: 400px;
            & > svg {
               transform: rotate(180deg);
            }
            & > div {
               right: 0;
               top: 0px;
            }
         }
      }
   }
}
