.wrapper {
   margin-right: auto;
   padding: 50px;
   overflow: auto;
   h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 20px;
      font-family: var(--font-nunito-semibold);
   }
   .timing {
      position: relative;
      --first-cell: rgb(250, 250, 250);
      --second-cell: rgb(236, 236, 236);
      --border: #d2d2d2;
      height: fit-content;
      border: 1px solid var(--border);
      border-bottom: none;
      width: fit-content;
      .filter {
         position: absolute;
         left: 0;
         top: -48px;
         display: flex;
         gap: 16px;
         div {
            display: flex;
            align-items: center;
            flex-direction: column;
            span {
               display: block;
               font-size: 12px;
               white-space: nowrap;
               margin-bottom: 4px;
            }
            select {
               width: 120px;
               padding: 3px 5px 2px;
               box-shadow: var(--shadow-out);
               border: none;
               border-radius: 4px;
               option {
                  padding: 2px;
               }
               &:hover {
                  transform: scale(1.01);
               }
            }
            button.common_filter {
               cursor: pointer;
               height: 23px;
               width: 120px;
               background-color: #fff;
               border: none;
               box-shadow: var(--shadow-out);
               border-radius: 4px;
               &:hover {
                  transform: scale(1.01);
               }
               &:active {
                  transform: scale(0.99);
               }
            }
            button.turned_on {
               background-color: var(--second-blue);
               color: #fff;
            }
         }
      }
      .row {
         position: relative;
         display: grid;
         grid-template-columns: 160px 85px 160px 270px 1000px 50px;
         grid-column-gap: 0px;
         grid-row-gap: 0px;
         align-items: center;
         font-size: 14px;
         border-bottom: 1px solid var(--border);
         line-height: 1.3;
         .expand {
            cursor: pointer;
            position: absolute;
            left: 4px;
            padding: 0;
            width: 14px;
            aspect-ratio: 1;
            border: 1px solid #979797;
            border-radius: 4px;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
            background-color: #fff;
         }
         .days {
            position: relative;
            box-sizing: border-box;
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            .nav {
               position: absolute;
               left: 50%;
               top: -25px;
               transform: translateX(-50%);
               display: flex;
               align-items: center;
               justify-content: space-between;
               width: 140px;
               button {
                  cursor: pointer;
                  padding: 0;
                  width: 14px;
                  height: 14px;
                  background-repeat: no-repeat;
                  background-position: center;
                  background-size: 55%;
                  background-image: url(/assets/images/svg/custom-button-icon-minus.svg);
                  border: none;
                  border-radius: 4px;
                  background-color: #fff;
                  box-shadow: 0px 0px 2px #737373;
                  &:last-child {
                     background-image: url(/assets/images/svg/custom-button-icon-plus.svg);
                  }
                  &:active {
                     transform: scale(0.95);
                  }
               }
               p {
                  background-color: #fff;
                  border: none;
                  font-size: 12px;
                  text-transform: capitalize;
               }
            }
            span {
               position: relative;
               text-align: center;
               display: flex;
               align-items: center;
               justify-content: center;
               width: 100%;
               height: 100%;
               font-size: 12px;
               border-right: 1px solid var(--border);
               background-repeat: no-repeat;
               background-position: center;
               background-size: 55%;
               cursor: help;
               &[data-type='sum'] {
                  color: var(--main-blue);
                  font-weight: 600;
                  background-color: #97d9f31f;
               }
               .comments_tip {
                  position: absolute;
                  left: 50%;
                  transform: translateX(-50%);
                  bottom: 36px;
                  z-index: 3;
                  display: none;
                  & > p {
                     font-size: 14px;
                     font-family: var(--font-nunito-light);
                     background-color: #494949;
                     outline: none;
                     color: #fff;
                     border-radius: 4px;
                     padding: 8px;
                     max-width: 200px;
                     width: max-content;
                     line-height: 1.3;
                  }
                  .triangle {
                     position: absolute;
                     left: 50%;
                     transform: translateX(-50%);
                     bottom: -10px;
                     width: 0px;
                     height: 0px;
                     display: block;
                     border-top: 15px solid #494949;
                     border-left: 10px solid transparent;
                     border-right: 10px solid transparent;
                     border-bottom: none;
                  }
               }
               &:hover .comments_tip {
                  display: block;
               }
            }
         }
         p {
            box-sizing: border-box;
            padding: 4px 8px;
            text-align: center;
            height: 100%;
            display: flex;
            align-items: center;
            &:nth-child(-n + 4) {
               border-right: 1px solid var(--border);
            }
            &:nth-child(n + 2) {
               background-color: var(--first-cell);
            }
            &:nth-of-type(1) {
               padding-left: 22px;
            }
            &:nth-of-type(1),
            &:nth-of-type(3),
            &:nth-of-type(4) {
               text-align: left;
            }
            &:last-child {
               font-weight: 600;
               font-size: 12px;
               padding: 5px 8px 3px;
            }
            &:nth-of-type(2),
            &:last-child {
               justify-content: center;
            }
         }
      }
      .header {
         .days {
            span {
               font-weight: 600;
               &:nth-child(even) {
                  background-color: var(--first-cell);
               }
               &:nth-child(odd) {
                  background-color: var(--second-cell);
               }
            }
         }
         p {
            position: relative;
            font-weight: 600;
            justify-content: center;
            &:nth-of-type(1) {
               padding-left: 8px;
            }
            &:nth-of-type(1),
            &:nth-of-type(2),
            &:nth-of-type(3) {
               text-align: center;
            }
            &:nth-child(even) {
               background-color: var(--first-cell);
            }
            &:nth-child(odd) {
               background-color: var(--second-cell);
            }
            &:last-child {
               font-weight: 600;
               font-size: 14px;
            }
         }
      }
   }
}
