@layer fonts {
   body {
      --font-nunito-regular: 'Nunito-Regular', sans-serif;
      --font-nunito-semibold: 'Nunito-SemiBold', sans-serif;
      --font-inter-bold: 'Inter-Bold', sans-serif;
      --font-inter-regular: 'Inter-Regular', sans-serif;
   }
}
