@layer global;

@layer global {
   body {
      background-color: var(--backgroundPage);
   }
}

#portal {
   /* --decimal: 90px;
   position: fixed;
   top: var(--decimal);
   left: 0;
   width: 100vw;
   height: calc(100vh - var(--decimal)); */
   position: fixed;
   left: 0;
   top: 0;
   z-index: 99999;
   /* @media (max-width: 870px) {
      --decimal: 80px;
   } */
}
