@layer variables {
   body {
      --backgroundPage: #f8f8f8;
      --main-blue: #013f4e;
      --main-red: #eb5757;
      --second-blue: #5098c7;

      --border-button: solid 3px #fff;

      --shadow-out: 0px 1px 4px rgba(174, 174, 192, 0.25), 2px 2px 3px rgba(174, 174, 192, 0.25);
      --shadow-in: inset -1px -1px 1px rgba(255, 255, 255, 0.7), inset 1.5px 1.5px 1px rgba(174, 174, 192, 0.2);
   }
}
