.account,
.time,
.qr,
.radio {
   display: flex;
   justify-content: space-between;
   padding: 20px;
   box-sizing: border-box;
}
.account {
   margin-right: auto;
   padding-right: 0;
   .avatar {
      background-color: var(--backgroundPage);
      padding: 20px 20px 10px;
      height: fit-content;
      border-radius: 36px;
      box-shadow: var(--shadow-out);
      max-width: 250px;
      & > div {
         display: flex;
         background-color: #fff;
         border-radius: 18px;
         overflow: hidden;
      }
      .describe {
         display: flex;
         flex-direction: column;
         padding: 15px 10px 10px;
         gap: 15px;
         background-color: transparent;
         & > p {
            line-height: 1.5;
            & > b {
               background-color: #2e2e2e;
               color: #fff;
               padding: 2px 6px 2px 4px;
               border-radius: 4px;
               font-family: var(--font-nunito-semibold);
            }
         }
      }
   }
}
.time {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   min-height: 500px;
   height: fit-content;
   width: fit-content;
   margin-right: auto;
   font-family: var(--font-nunito-semibold);
   overflow: auto;
   button {
      cursor: pointer;
      background-color: transparent;
      border: none;
   }
   h2 {
      text-align: center;
      margin-bottom: 20px;
      font-size: 20px;
      font-family: var(--font-nunito-semibold);
   }
   .body {
      --day-icon-size: 30px;
      --gap: 10px;
      --grid: 200px 200px 600px;
      --width-days: 1260px;
      position: relative;
      padding: 20px;
      width: fit-content;
      border-radius: 36px;
      box-shadow: var(--shadow-out);
      min-height: 300px;
   }
   button.send {
      box-sizing: border-box;
      background-color: transparent;
      border: 2px solid #fff;
      font-family: var(--font-nunito-bold);
      box-shadow: var(--shadow-out);
      margin: 30px 0 0 40px;
      padding: 8px 16px 6px;
      border-radius: 20px;
      text-transform: uppercase;
      color: var(--main-red);
      &:hover {
         color: #fff;
         background-color: var(--main-red);
      }
      &:active {
         transform: scale(0.97);
      }
   }
}
.qr {
}
.radio {
}
