.wrapper {
   .icon_btn {
      position: relative;
      box-sizing: border-box;
      width: 30px;
      height: 30px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #fff;
      box-shadow: var(--shadow-out);
      background-position: center;
      background-repeat: no-repeat;
      background-size: 50%;
      cursor: pointer;
      &:hover {
         border-color: #e0e0e0;
         span {
            display: block;
         }
      }
      span {
         font-size: 12px;
         display: none;
         position: absolute;
         left: var(--left);
         top: var(--top);
         transform: translateX(-50%);
         white-space: nowrap;
      }
   }
   input.file {
      position: absolute;
      z-index: -1;
      visibility: hidden;
   }
}
