.job {
   display: flex;
   align-items: center;
   justify-content: space-between;
   margin-top: 20px;
   .desc {
      position: relative;
      display: flex;
      align-items: center;
      width: 460px;
      button.remove {
         position: relative;
         visibility: hidden;
         box-sizing: border-box;
         width: 20px;
         height: 20px;
         padding: 0;
         background-color: transparent;
         box-shadow: var(--shadow-out);
         border: none;
         border-radius: 50%;
         margin-right: 12px;
         background-image: url(/assets/images/svg/timereport-job-remove.svg);
         background-repeat: no-repeat;
         background-position: center;
         background-size: 50%;
      }
      .inputs {
         --first-input: 85px;
         --second-input: 96px;
         --third-input: 184px;
         position: absolute;
         top: 50%;
         transform: translateY(-50%);
         left: 35px;
         width: var(--first-input);
         z-index: 2;
         input {
            margin-right: 0;
            width: 100%;
         }
         &:nth-of-type(2) {
            left: 137px;
            width: var(--second-input);
         }
         &:nth-of-type(3) {
            left: 242px;
            width: var(--third-input);
         }
         span {
            position: absolute;
            top: -18px;
            left: 50%;
            transform: translateX(-50%);
            display: flex;
            flex-direction: column;
            align-items: center;
            font-size: 12px;
            // margin-bottom: 6px;
            color: #636363;
            white-space: nowrap;
         }
         .job_name:focus {
            &::placeholder {
               color: transparent;
            }
         }
      }
      p {
         position: absolute;
         top: 50%;
         transform: translate(-50%, -50%);
         font-size: 12px;
         left: 466px;
         border: 2px solid var(--second-blue);
         border-radius: 4px;
         width: 30px;
         height: 18px;
         display: flex;
         align-items: center;
         justify-content: center;
         &::before {
            position: absolute;
            left: -15px;
            top: 50%;
            transform: translateY(-50%);
            content: '\002211';
            font-size: 14px;
         }
      }
      .fill {
         width: 85%;
      }
      &:hover {
         button.remove {
            visibility: visible;
         }
      }
      .job_name::placeholder {
         color: #c4c4c4;
         font-size: 12px;
      }
   }
   ul {
      display: flex;
      justify-content: flex-end;
      box-sizing: border-box;
      width: var(--width-days);
      gap: var(--gap);
      li {
         box-sizing: border-box;
         width: var(--day-icon-size);
         aspect-ratio: 1;
         position: relative;
         display: flex;
         justify-content: center;
         user-select: none;
         text-align: center;
         border-radius: 50%;
         box-shadow: var(--shadow-out);
         border: 2px solid #ffffff00;
         border-color: var(--borderColor);
         background-image: var(--bg-icon);
         background-position: 55% 50%;
         background-repeat: no-repeat;
         background-size: 60%;
         padding-top: 2px;
         &:hover {
            border: 2px solid #dfdfdf;
         }
         .comments_tip {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            bottom: 42px;
            z-index: 3;
            display: none;
            & > p {
               font-size: 14px;
               font-family: var(--font-nunito-light);
               background-color: #494949;
               outline: none;
               color: #fff;
               border-radius: 4px;
               padding: 8px;
               max-width: 200px;
               width: max-content;
               line-height: 1.3;
            }
            .triangle {
               position: absolute;
               left: 50%;
               transform: translateX(-50%);
               bottom: -10px;
               width: 0px;
               height: 0px;
               display: block;
               border-top: 15px solid #494949;
               border-left: 10px solid transparent;
               border-right: 10px solid transparent;
               border-bottom: none;
            }
         }
         button {
            padding: 0;
            background-color: transparent;
            border: none;
            font-size: 12px;
            width: 100%;
            height: 100%;
            &:hover ~ .comments_tip {
               display: block;
            }
         }
         .time_used {
            position: absolute;
            left: 50%;
            top: -48px;
            transform: translateX(-50%);
            background-color: #ffffff;
            border: 2px solid var(--second-blue);
            padding: 8px;
            border-radius: 8px;
            z-index: 5;
            .comments {
               width: 100%;
               textarea {
                  width: 100%;
                  box-sizing: border-box;
                  background-color: var(--bg-textarea);
                  color: #fff;
                  border-radius: 8px;
                  width: 100%;
                  height: 100px;
                  padding: 10px;
                  resize: none;
                  margin-top: 10px;
                  outline-color: #fff;
               }
            }
            .add_comment,
            .remove_comment {
               width: 20px;
               height: 20px;
               background-position: center;
               background-repeat: no-repeat;
               box-shadow: 0 0 4px #cccccc;
               border: 1px solid #ffffff;
               border-radius: 50%;
               margin-top: 10px;
               .tooltip {
                  display: none;
                  color: #656565;
                  position: absolute;
                  left: 50%;
                  bottom: -20px;
                  transform: translateX(-50%);
                  font-size: 12px;
               }
               &:hover {
                  box-shadow: 0 0 6px #cccccc;
                  .tooltip {
                     display: block;
                  }
               }
            }
            .add_comment {
               background-image: url(/assets/images/svg/timereport-job-add.svg);
               margin-right: 5px;
               background-size: 60%;
            }
            .remove_comment {
               background-image: url(/assets/images/svg/user-managment-remove.svg);
               background-size: 50%;
            }
            &[data-isout='true'] {
               left: auto;
               right: -17px;
               transform: translate(0, -50%);
            }
            .apply {
               position: absolute;
               width: 15px;
               height: 15px;
               right: 2px;
               top: 2px;
               border-radius: 50%;
               background-image: url(/assets/images/svg/timereport-check-icon.svg);
               background-size: 60%;
               background-position: center;
               background-repeat: no-repeat;
               &:hover {
                  background-color: #f0f0f0;
               }
            }
            .info {
               margin-bottom: 8px;
               span {
                  font-size: 14px;
                  text-transform: capitalize;
                  white-space: nowrap;
               }
            }
            .values {
               --local-color: var(--second-blue);
               display: flex;
               align-items: center;
               gap: 8px;
               p {
                  font-size: 14px;
               }
               .input,
               button {
                  --local-color: #000;
                  color: var(--local-color);
                  border: 1px solid var(--local-color);
                  border-radius: 4px;
                  outline-color: #fff;
                  outline-offset: 2px;
                  background-color: #fff;
               }
               .input {
                  position: relative;
                  box-sizing: border-box;
                  width: 34px;
                  cursor: ns-resize;
                  height: 22px;
                  user-select: none;
                  font-size: 12px;
                  display: flex;
                  align-items: center;
                  justify-content: center;
                  margin-right: 10px;
                  &::after {
                     content: url(/assets/images/svg/timereport-scroll-icon.svg);
                     position: absolute;
                     right: -11px;
                     top: 55%;
                     transform: translateY(-50%);
                     width: 7px;
                  }
               }
               button {
                  background-color: #fff;
                  width: 22px;
                  aspect-ratio: 1;
                  padding-top: 1px;
                  .tooltip {
                     display: none;
                     color: #656565;
                     position: absolute;
                     left: 50%;
                     bottom: -20px;
                     transform: translateX(-50%);
                     font-size: 12px;
                  }
                  &:hover {
                     background-color: var(--local-color);
                     color: #fff;
                     .tooltip {
                        display: block;
                     }
                  }
               }
            }
            .quick_btns {
               display: flex;
               margin-top: 10px;
               width: 100%;
               justify-content: space-between;
               button {
                  width: 16px;
                  aspect-ratio: 1;
                  border: 1px solid var(--second-blue);
                  border-radius: 4px;
                  outline-color: #fff;
                  outline-offset: 2px;
                  background-color: #fff;
                  font-size: 10px;
                  &:hover {
                     background-color: var(--second-blue);
                     color: #fff;
                  }
               }
            }
         }
         .indicator {
            display: block;
            position: absolute;
            right: -4px;
            top: -4px;
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background-color: green;
         }
      }
   }
}

.preloader {
   display: flex;
   justify-content: center;
   height: 32px;
   width: 100%;
   margin-top: 20px;
}
