button.button {
   position: relative;
   width: 30px;
   height: 30px;
   background-image: url('/assets/images/svg/cabinet.svg');
   background-size: 70%;
   background-position: center;
   background-repeat: no-repeat;
   border: var(--border-button);
   background-color: #fff;
   border-radius: 30px;
   box-shadow: var(--shadow-out);
   cursor: pointer;

   &:hover {
      outline: 2px solid #fff;
      outline-offset: 3px;
   }
}

button.login {
   cursor: pointer;
   width: fit-content;
   background-color: white;
   border-radius: 4px;
   width: 110px;
   height: 32px;
   border: 2px solid var(--main-blue);
   background-color: var(--main-blue);
   color: #fff;
   margin-top: 0.5rem;
   transition: color 0.3s, background 0.3s;
   font-size: 0.8rem;
   font-family: var(--font-nunito-semibold);
   display: flex;
   justify-content: center;
   align-items: center;
   &:hover {
      background-color: white;
      color: var(--main-blue);
   }
   &:disabled {
      color: #b9b9b9;
      background-color: #fff;
      border-color: #000;
      opacity: 0.3;
      cursor: progress;
   }
}

button.close {
   right: 0.5rem;
   top: 0.5rem;
   position: absolute;
   border: none;
   background-color: white;
   border-radius: 4px;
   padding: 4px 10px;
   cursor: pointer;
   font-size: 18px;
   &:hover {
      background-color: #f5f5f5;
   }
}

.wrapper {
   position: fixed;
   top: 0;
   left: 0;
   width: 100vw;
   height: 100svh;
   display: flex;
   justify-content: center;
   align-items: center;
   z-index: 9999;
   background-color: rgba(0, 0, 0, 0.7);
   font-family: var(--font-nunito-semibold);
   color: var(--main-blue);
   text-align: center;
   .block {
      position: relative;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      background-color: #fff;
      padding: 2.5rem 2rem 1.5rem;
      border-radius: 4px;
      box-shadow: 0px 0px 6px #fff;
      max-width: 288px;
      p.message {
         color: red;
         font-size: 14px;
         font-family: var(--font-nunito-regular);
         line-height: 1.3;
      }
      h3 {
         text-transform: uppercase;
         font-size: 1.2rem;
      }
      .username,
      .password {
         display: flex;
         flex-direction: column;
         align-items: flex-start;
         gap: 4px;
         font-size: 14px;
         div {
            position: relative;
            &::before {
               position: absolute;
               transform: translateY(-50%);
               left: 6px;
               top: 18px;
               width: 16px;
               background-color: #f3f3f3;
               padding: 2px 4px 1px;
               border-radius: 4px;
               z-index: 1;
            }
         }
         h4 {
            padding-left: 4px;
         }
      }

      .username {
         div {
            &::before {
               content: url(/assets/images/svg/auth-user.svg);
            }
         }
      }

      .password {
         position: relative;
         .see {
            position: absolute;
            right: 4px;
            top: 50%;
            transform: translateY(-50%);
            width: 24px;
            height: 24px;
            padding: 0;
            border: none;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 0 2px #a2a2a2;
            background-repeat: no-repeat;
            background-position: center;
            background-size: 70%;
            cursor: pointer;
            &:hover {
               box-shadow: 0 0 4px #a2a2a2;
            }
         }
         div {
            &::before {
               content: url(/assets/images/svg/auth-pass.svg);
            }
         }
      }

      input {
         position: relative;
         box-sizing: border-box;
         padding: 0.5rem 1rem 0.5rem 2.2rem;
         width: 18rem;
         border-radius: 4px;
         border: none;
         box-shadow: var(--shadow-out);
         outline: 1px solid #e1e1e1;
         font-family: var(--font-nunito-regular);
         &::placeholder {
            opacity: 0.8;
         }
         &::before {
            position: absolute;
            content: '';
            left: 0;
            top: 50%;
            width: 6px;
            height: 6px;
            background-color: red;
         }
      }
   }
}
