.decor {
   padding: 8px 20px 4px;
   background-color: #fff;
   border: var(--border-button);
   box-shadow: var(--shadow-out), var(--shadow-in);
   border-radius: 30px;
}

.main {
   background-image: url(/assets/images/svg/logo-mini.svg);
   background-repeat: no-repeat;
   background-position: center;
   aspect-ratio: 1;
   height: 60px;
}
