.wrapper {
   box-sizing: border-box;
   width: 100%;
   padding: 25px;
   width: 470px;
   .desc {
      box-sizing: border-box;
      margin-top: 12px;
      width: 100%;
      height: 125px;
      background-color: #585858;
      color: #fff;
      border-radius: 16px;
      padding: 8px;
      resize: none;
      overflow: hidden;
   }
   .header {
      box-sizing: border-box;
      padding: 0 30px;
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 5px;
      span {
         border: 1px solid #fff;
         display: flex;
         justify-content: center;
         align-items: center;
         width: 24px;
         height: 24px;
         box-shadow: var(--shadow-out);
         border-radius: 4px;
         background-color: var(--main-red);
         color: #fff;
         font-size: 14px;
      }
   }
   & > h2 {
      font-size: 24px;
      text-align: center;
      margin-bottom: 24px;
   }
   .days_wrapper {
      padding: 24px;
      border-radius: 16px;
      box-shadow: var(--shadow-aside), var(--shadow-in);
      border: 2px solid #fff;
      display: flex;
      flex-wrap: wrap;
      gap: 24px;
      & > div {
         box-sizing: border-box;
         position: relative;
         display: flex;
         align-items: center;
         justify-content: center;
         width: 32px;
         aspect-ratio: 1;
         border-radius: 8px;
         border: 2px solid #fff;
         cursor: help;
         & > div.acent {
            position: absolute;
            display: block;
            width: 110%;
            height: 110%;
            border: 2px dashed var(--second-blue);
            border-radius: 8px;
         }
         & > span {
            position: absolute;
            text-transform: capitalize;
            font-size: 14px;
            top: -20px;
            color: var(--main-blue);
            font-family: var(--font-nunito-bold);
         }
      }
   }
   .buttons {
      margin-top: 16px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      & > div {
         display: flex;
         width: 200px;
         justify-content: space-between;
         align-items: center;
         margin-bottom: 16px;
         & > button {
            width: 25px;
            aspect-ratio: 1;
            background-color: #fff;
            border: none;
            box-shadow: var(--shadow-aside);
            border-radius: 4px;
            cursor: pointer;
            &:hover {
               box-shadow: var(--shadow-out);
            }
         }
         & > p {
            text-transform: capitalize;
         }
      }
   }
}
