.wrapper {
   display: flex;
   justify-content: flex-end;
   width: 100%;
   height: 100%;
   .viewport {
      box-sizing: border-box;
      height: 100%;
      background-color: #fff;
      border-radius: 32px;
      box-shadow: var(--shadow-aside);
      --width: 100%;
      width: var(--width);
   }
}
