.radio_nav {
   position: relative;
   display: flex;
   flex-direction: column;
   position: fixed;
   gap: 16px;
   left: 15px;
   top: 100px;
   padding: 4px;
   border: 2px solid #fff;
   border-radius: 20px;
   box-shadow: var(--shadow-out);
   z-index: 100;
   background-color: #f3f3f3;
   .close {
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      position: absolute;
      z-index: -1;
      padding: 8px;
      bottom: -32px;
      right: -28px;
      height: 200px;
      width: 50px;
      button {
         background-color: #fff;
         padding: 4px;
         width: 24px;
         border: none;
         box-shadow: var(--shadow-out);
         border-radius: 50%;
         cursor: pointer;
      }
   }
   &:hover .close {
      display: flex;
   }
}
